DB_NAME=gym
DB_USER=gym
DB_PASSWORD=gym123
MONGO_USER=mongo
MONGO_PASSWORD=mongo123
MQ_ADMIN_USERNAME=admin
MQ_ADMIN_PASSWORD=admin
JWT_SECRET=change-me-change-me-change-me-change-me
APP_ADMIN_USERNAME=admin
APP_ADMIN_PASSWORD=admin123